{% extends "base.html" %}

{% block title %}WebFR3D{% endblock %}

{% block body %}
      <div id="temp-body">
        <p>Blake said: "Someone should implement me"</p>
        <p>TO DO:
        <ul>
          <li>implement PHP includes</li>
          <li>META tags:
            <ul>
              <li>[BOTH] meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1"</li>
              <li>[GEO] meta name="description" content="Geometric search for RNA 3D motifs in PDB files.Geometric queries of PDB files.Online version of FR3D.WebFR3D."</li>
              <li>[GEO] meta name="keywords" content="WebFR3D,RNA,3D motifs,geometric search,RNA 3D structure,PDB"</li>
              <li>[SYM] meta name="description" content="Symbolic search for RNA 3D motifs in PDB files"</li>
              <li>[SYM] meta name="keywords" content="WebFR3D,RNA,3D motifs,symbolic search"</li>
            </ul>
          </li>
          <li>Javascript:
            <ul>
              <li>[GEO] script src="./js/geometric.js" type="text/javascript"</li>
              <li>[SYM] script src="./js/symbolic.js" type="text/javascript" </li>
              <li>[GEO] script src="<?=$config['webroot']?>/jmol/Jmol.js" type='text/javascript'</li>
              <li>[GEO] script type="text/javascript" src="./js/dom-drag.js" </li>
            </ul>
          </li>
          <li>Stylesheets:
            <ul>
              <li>[BOTH] link rel="stylesheet" type="text/css" href="./css/FR3D.css"</li>
              <li>[BOTH] link rel="stylesheet" media="all" type="text/css" href="./css/menu_style.css"</li>
            </ul>
          </li>
          <li>Google Analytics:  php include 'php/functions.php'; google_analytics();</li>
        </ul>
        </p>
      </div> <!-- tempbody -->

      <div id="newbody">
        <noscript>WebFR3D requires JavaScript. Please turn JavaScript on to use this feature.</noscript>
        
        <form action="php/Search.php" name="main" method="post" onSubmit="return Check(this.form)" id="newform">
          <input class='hidden' type='text' value='geometric' name='geometric'>
          <input class='hidden' type='text' value='symbolic' name='symbolic'>

          <h3>1. For what are you searching?</h3>
          <div class="form-group">
            <label class="control-label col-sm-3" for="searchType">1a. Select your search type:</label>
            <div class="col-sm-9">
              <div class="radio">
                <label><input type="radio" name="searchType" id="searchG" checked="checked">Geometric: you want to find more instances of a known motif.</label>
              </div>
              <hr>
              <div class="radio">
                <label><input type="radio" name="searchType" id="searchS">Symbolic: you want to search based upon a set of specified interactions.</label>
                <label>Number of nucleotides to search:<input type="text" name="symNT" id="symNT"></label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3" for="searchInput">1b. Enter your query parameters:</label>
            <div class="textbox col-sm-9">
              <input type="text" name="searchInput" id="searchT" size="60">
            </div>
          </div>

          <h3>2. Constrain your search (optional):</h3>
          <p>Constraints can speed up searches considerably.</p>
          <div class="form-group">
            <label class="control-label col-sm-3">2. Enter your query constraints:</label>
            <div class="col-sm-9">
              <input type="button" name="intMatrix" id="intMatrix" value="Interaction Matrix" onClick="CreateMatrix()"> 
            </div>
          </div>

          <h3>3. Where do you want to search?</h3>
          <p>Choose one of the three following options:</p>
          <div class="form-group">
            <label class="control-label col-sm-3">3. Select a search target:</label>
            <div class="col-sm-9">
              <div class="radio">
                <label><input type="radio" name="targetPDB" id="searchTarget">By PDB ID:  enter a list of PDB IDs, comma-separated.</label>
                <label><input type="radio" name="targetRPS" id="searchTarget">By Representative Set: enter the release number, and optionally select a resolution cutoff and the types of structures to consider.</label>
                <label><input type="radio" name="targetEQC" id="searchTarget">By Equivalence Class: under development (Sri).</label>
              </div>
              <div class="radio">
              </div>
            </div>
          </div>

          <div>
            <label for="xray"><input type="checkbox" id="xray">X-ray</label>
            <label for="crem"><input type="checkbox" id="crem">Cryo-EM</label>
            <label for="nmrs"><input type="checkbox" id="nmrs">NMR</label>
          </div>
        
          <h3>4. Adjust the discrepancy cutoff for geometic searches:</h3>
          <p>The default discrepancy cutoff is 0.4, with a valid range of <strong>X TO Y</strong>.</p>
          <div class="form-group">
            <label class="control-label col-sm-3">4. Set the discrepancy cutoff:</label>
            <input id="disc" class="discrepancy" type="text" name="disc" value="0.4" 
                   style="text-align: right;" size="6" onChange="ValidateDiscrepancy()" onClick="ShowHelp(this)">
          </div>

          <h3>5. (Optional) Enter your email address:</h3>
          <p>To receive notifications about the progress of your query. It will not be shared.</p>
          <div class="form-group">
            <label class="control-label col-sm-3">5. Enter your email address:</label>
            <div>
              <input id="email" type="text" name="mail" size="60" onClick="ShowHelp(this)">
            </div>
          </div>

          <h3>6. Search!</h3>
          <div class="form-group">
          </div>

          <div class="form-group">
          </div>

          <div class="form-group">
          </div>

          <div class="form-group">
          </div>

          <div class="form-group">
          </div>

        </form>

      </div> <!-- newbody -->
      
<!--
      <div id="oldbody">
        <noscript>WebFR3D requires JavaScript. Please turn JavaScript on to use this feature.</noscript>
        
        <form action="php/Search.php" class="form-horizontal" name="main" method="post" onSubmit="return Check(this.form)" id="mainform">
          <input class='hidden' type='text' value='geometric' name='geometric'>
          <input class='hidden' type='text' value='symbolic' name='symbolic'>
        
          <div class='select left_side'>
            <div class='handle'>[BOTH] Structures to search:</div>
            <div style="margin-top:1px" class='content'>
              <select class='where' id='SelectElem' multiple='multiple' name='wheretosearch[]' onclick='ShowHelp(this)'>
              <?php get_all_pdb_files('where', get_submitted_pdb_files()); ?>
              </select>
            </div>
          </div>
        
          <div class = "dynamic">
            <div class="handle">[SYM] Number of nucleotides:</div>
            <select id="NumNT" name="NT[]">
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
            </select>&nbsp;&nbsp;
            <input type="button" value="Interaction Matrix" onClick="CreateMatrix(this.form)">
            <input type="button" value="View Query" onClick="ViewQuery()" disabled='disabled' id='view'>
            <input disabled="disabled" type="submit" id="submit" value="Search">
            <br><br>
            <div id="mat"> 
            </div>
            <br>
          </div>

          <div class = "dynamic">
            <div class="handle">[GEO] Query PDB:</div>
            <select class="what" name="PDBquery" id="PDB">
              <option value="----">----</option>
              <?php get_all_pdb_files('what'); ?>
            </select>
            &nbsp;
            Query nucleotides: <input id="NT" type="text" class='ntsinput' name="nucleotides" onChange="LookUpNTs(this,'asynch')" onClick="ShowHelp(this)">
            <input type="button" value="Interaction Matrix" onClick="CreateMatrix()"> 
            <input disabled="disabled" type="submit" id="submit" value="Search">
            <br><br>
            <div id="mat"> 
            </div>
            <br>
          </div>
        
          <div class='nrlists left_side'>
            <div class='handle'>[BOTH] Non-redundant Lists:</div> 
            <div class="content">
              <ul>
                <li>
                  NR release:
                  <select id='nr_release_list' name='nr_release_list'>
                    <option value='none'>----</option>
                    <?php get_nr_releases(); ?>
                  </select>
                </li>
                <li>
                  Resolution:
                  <select id='nr_resolution' name='nr_resolution'>
                    <option value='1.5'>1.5&Aring X-ray</option>
                    <option value='2.0'>2.0&Aring X-ray</option>
                    <option value='2.5'>2.5&Aring X-ray</option>
                    <option value='3.0'>3.0&Aring X-ray</option>
                    <option value='3.5'>3.5&Aring X-ray</option>
                    <option value='4.0'>4.0&Aring X-ray</option>
                    <option value='20.0'>Xray+cryoEM</option>
                    <option value='all'>Xray+cryoEM+NMR</option>
                  </select>
                </li>
                <li>
                  Learn more at <a href="<?= $config['webroot'] . '/rna3dhub/nrlist' ?>" target="_blank">RNA 3D Hub</a>
                </li>
              </ul>
            </div> 
          </div>

          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="xray">
            <label class="custom-control-label" for="xray">X-ray</label>
          </div>
        
          <div class="options left_side">
            <div class='handle'>Options</div>
            <div class='content'>
              [GEO] Discrepancy: <input id="disc" class="discrepancy" type="text" name="disc" value="0.4" size="6" onChange="ValidateDiscrepancy()" onClick="ShowHelp(this)"> <br>
              [BOTH] Email address (optional):
              <input id="email" type="text" name="mail" class="email" onClick="ShowHelp(this)">
              <input type="button" value="Reset" onClick="ResetAll()" >
            </div>
          </div>
        
          <div class='help left_side'>
            <div class='handle'>[BOTH] Help</div>
            <div id='help' class='content'>Click an element to view help</div>
          </div>
        </form>
        
        <!-- the next 9 lines are geometric-only -->
        <div id="root" class='rootdiv' style="left:220px; top:100px;">
          <div id="handle" class='handle'>Drag<img src="./js/greybox/w_close.gif" alt="Close" id='closewin' onClick='HideJmolDiv()'></div>
          <div id='jmol' class='content'></div>
        </div>
        <script type="text/javascript" language="javascript">
          var theHandle = document.getElementById("handle");
          var theRoot   = document.getElementById("root");
          Drag.init(theHandle, theRoot);
        </script>
      </div> <!-- oldbody -->
-->

{% endblock %}

<!--
    <title>Geometric FR3D</title>
<body onLoad='SetUp();'>
-->
<!--
    <title>Symbolic FR3D</title>
<body>
-->
