<div class="menu">
  <ul>
    <li><a href="<?= $config['webroot'] . "/webfr3d" ?>">WebFR3D</a></li>
    <li><a href="./geometric">Geometric Search</a></li>
    <li><a href="./symbolic">Symbolic search</a></li>
    <li><a>Select an example</a>
    <ul>
      <li><a onclick="TripleShearedTemplate()">Triple Sheared Internal Loop</a></li>
      <li><a onclick="SarcinTemplate()">Sarcin-ricin Internal Loop</a></li>
      <li><a onclick="TLoopTemplate()">T-loop Hairpin</a></li>
      <li><a onclick="Kt7Template()">Kink-turn 7</a></li>
      <li><a onclick="CLoopTemplate()">C-loop</a></li>
    </ul>
    </li>
    <li><a>Help</a>
    <ul>
      <li><a href="http://goo.gl/2vENT" target="_blank">In a new window</a></li>
    </ul>
    </li>

    <li><a>Links</a>
    <ul>
      <li><a href="<?= $config['webroot'] ?>">RNA BGSU Group</a></li>
      <li><a href="<?= $config['webroot'] . "/rna3dhub" ?>">RNA 3D Hub</a></li>
      <li><a href="<?= $config['webroot'] . "/FR3D" ?>">FR3D</a></li>
      <li><a href="https://github.com/BGSU-RNA/WebFR3D">WebFR3D on Github</a></li>
    </ul>
    </li>

  </ul>
</div>
