<nav class='navbar navbar-inverse navbar-fixed-top'>
  <div class='container'>
    <div class='navbar-header'>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/WebFR3D/">WebFR3D</a>
    </div>

    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href='/WebFR3D/'>BGSU RNA</a></li>
        <li><a href="/WebFR3D/help">Help</a></li>
        <li><a href="/WebFR3D/about">About</a></li>
        <li><a href="/WebFR3D/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

{#
vim: ft=jinja
#}
